<div class="container mt-4">
  <h1 class="mb-4 text-center">Catálogo de Productos</h1>

  {{#if (eq ../session.rol "admin")}}
    <div class="text-end mb-3">
      <a href="/productos/nuevo" class="btn btn-success">+ Agregar producto</a>
    </div>
  {{/if}}

  <div class="row">
    {{#each productos}}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{imagen}}" class="card-img-top" alt="{{descripcion}}">
        <div class="card-body">
          <h5 class="card-title">{{descripcion}}</h5>
          <p class="card-text">${{precio}}</p>

          {{#if (eq ../session.rol "cliente")}}
            <form action="/carrito/agregar" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="descripcion" value="{{descripcion}}">
            <input type="hidden" name="precio" value="{{precio}}">
            <button type="submit" class="btn btn-primary btn-sm">Agregar al carrito</button>
          </form>
          {{else}}
            <p class="text-muted">Inicia sesión como cliente para comprar</p>
          {{/if}}

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
